
body{
    background: url("../images/background1.jpg")no-repeat;
    background-size:100%;
                -webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            -ms-background-size: cover;
}

.form form-horizontal{
    margin-left: 100px;
}
.formpos{
    display:flex;
justify-content:center;
align-items:center;
width:100%;

}

.submit-btn{
        display:flex;
justify-content:center;
align-items:center;
margin-top:10px;
}

.text_area{
    width:100%;
    height:80px;
}